.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.navbar {
  padding-left: 30px;
  padding-right: 40px;
  height: 15vh;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #2c0e3a;
}

.logo {
  height: 40px;
  width: 150px;
}

.score {
  color: white;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  margin-right: 20px;
}

.score-timer-container {
  display: flex;
  align-items: center;
}

.timer-logo {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.timer {
  color: #fec653;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
}

.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 50%;
  margin-top: 50px;
  border-radius: 5px;
}

.tabitem-container {
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: space-between;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  list-style-type: none;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 85vh;
}

.gameover-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-lg-bg.png');
  width: 40%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-height: 100vh;
}

.trophy {
  height: 200px;
  width: 250px;
  margin-top: 50px;
}

.score-heading {
  color: white;
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 500;
}

.your-score {
  color: white;
  font-family: 'Roboto';
  font-size: 30px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.reset {
  background-color: #cf60c8;
  height: 50px;
  text-align: center;
  color: white;
  font-family: 'Roboto';
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px;
  border-radius: 10px;
  margin-bottom: 30px;
}
